{% extends "base.html" %}

{% block content %}
<form action="{{ url_for('delete_checkpoint', race_id=race_id, checkpoint_id=checkpoint_id) }}">
  <button class="form-delete" type="submit">Delete Checkpoint</button>
</form>
<form class="form-login" action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <h1>Edit {{ checkpoint_name }}</h1>
    <br>
    <p>
      {{ form.name(size=25, placeholder="name") }}<br>
      {% for error in form.name.errors %}
      <span style="color: black;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.operator(size=25, placeholder="operator") }}<br>
      {% for error in form.operator.errors %}
      <span style="color: black;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.submit(class="form-edit") }}
    </p>
</form>
{% endblock content %}
