{% extends "base.html" %}
{% block content %}
<h1 align="center">Runners Tracker System - Main Page</h1>
<h3 align="center" class="about">Upcoming Races</h3>
{% if races[0] %}
<table class="schedule" border = 1 solid>
  <thead class="table100-head">
  <tr>
      <th class="tbh-1">Race</th>
      <th class="tbh-1">Date</th>
      <th class="tbh-1">Distance</th>
      <th class="tbh-1">Register</th>
  </tr>
</thead>
<tbody>
    {% for race in races %}
      <tr>
        <td>{{ race.name }}</td>
        <td>{{ race.date_and_time_of_race.strftime("%d %B %Y %H:%M") }}</td>
        <td>{{ race.distance }} km</td>
        <td><a class="about" href="{{ url_for('register_for_race', race_id=race._id)}}">Register for race</a></td>
      </tr>
    {% endfor %}
  </tbody>
{% else %}
	<h1>No upcoming races now!</h1>
{% endif %}


<table class="schedule" border = 1 solid>
  <h3 align="center" class="about">Race results</h3>
  <thead class="table100-head">
  <tr>
      <th class="tbh-1">Race</th>
      <th class="tbh-1">Date</th>
      <th class="tbh-1">Distance</th>
      <th class="tbh-1">Leaders</th>
  </tr>
  </thead>

  <tr>
      <td>First race</td>
      <td>20.05.2019</td>
      <td>21.2 km</td>
      <td>
          <table class="schedule" border = 1 solid>
            <tr>
               <th>Position</th>
               <th>Runner</th>
               <th>Time</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Usain Bolt</td>
                <td>01:00:52</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Dima </td>
                <td>01:03:12</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Jura </td>
                <td>01:10:09</td>
            </tr>
          </table>
      </td>
  </tr>
  <tr>
      <td>Second race</td>
      <td>29.05.2019</td>
      <td>10.0 km</td>
      <td>
          <table class="schedule" border = 1 solid>
            <tr>
               <th>Position</th>
               <th>Runner</th>
               <th>Time</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Serhii</td>
                <td>00:30:02</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Usain Bolt </td>
                <td>00:32:22</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Jack </td>
                <td>00:33:52</td>
            </tr>
          </table>
      </td>
  </tr>
{% endblock %}
