{% extends "base.html" %}

{% block content %}
<form class="form-login" action="" method="post" novalidate align="center">
  {{ form.hidden_tag() }}
  <p>
    {{ form.username(size=30, placeholder="username") }}
    {% for error in form.username.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.password(size=30, placeholder="password") }}
    {% for error in form.password.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.submit(class='form-submit') }}
  </p>
  <p class="create-acc-need">Need an account? <a class="create-acc" href="{{ url_for('register') }}">Create one</a></p>
</form>
{% endblock %}
