{% extends "base.html" %}

{% block content %}
<h1 align="center">Races</h1>
{% if races[0] %}
  <table>
    <thead class="table100-head">
      <tr>
        <th class="tbh">Name</th>
        <th class="tbh">Date</th>
        <th class="tbh">About</th>
      </tr>
    </thead>
    <tbody>
    {% for race in races %}
      <tr>
        <td>{{ race.name }}</td>
        <td>{{ race.date_and_time_of_race.strftime("%d %B %Y %H:%M") }}</td>
        <td><a class="about" href="{{ url_for('race', race_id=race._id) }}">More...</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <h1>No races registered!</h1>
{% endif %}
{% endblock content %}
