{% extends "base.html" %}

{% block content %}

{% if form %}
<h1>Edit {{ race_name }}</h1>
<form action="{{ url_for('delete_race', race_id=race_id) }}">
  <button type="submit"><strong>Delete</strong></button>
</form>
<form action="" method="post" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}
    <p>
      <br><strong>{{ form.name.label }}</strong><br>
      {{ form.name(size=25) }}<br>
      {% for error in form.name.errors %}
      <span style="color: black;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      <br><strong>{{ form.logo.label }}</strong><br>
      {{ form.logo(size=25) }}<br>
      {% for error in form.logo.errors %}
      <span style="color: black;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      <br><strong>{{ form.admin.label }}</strong><br>
      {{ form.admin }}<br>
      {% for error in form.admin.errors %}
      <span style="color: black;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      <br><strong>{{ form.laps_number.label }}</strong><br>
      {{ form.laps_number }}<br>
      {% for error in form.laps_number.errors %}
      <span style="color: black;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      <br><strong>{{ form.distance.label }}</strong><br>
      {{ form.distance(size=10) }}<br>
      {% for error in form.distance.errors %}
      <span style="color: black;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      <br><strong>{{ form.date_and_time_of_race.label }}</strong><br>
      {{ form.date_and_time_of_race }}<br>
      {% for error in form.date_and_time_of_race.errors %}
      <span style="color: black;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      <br><strong>{{ form.description.label }}</strong><br>
      {{ form.description(maxlength=300, cols=50, rows=6) }}<br>
      {% for error in form.description.errors %}
      <span style="color: black;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      <br><strong>{{ form.submit() }}</strong><br>
    </p>
</form>
{% else %}
<h1>Race: {{ race.name }}</h1>
{% if current_user.is_authenticated %}
<form action="{{ url_for('edit_race', race_id=race._id) }}">
  <button type="submit"><strong>Edit</strong></button>
</form>
<form action="{{ url_for('race_checkpoints', race_id=race._id) }}">
  <button type="submit"><strong>Checkpoints</strong></button>
</form>
{% endif %}
<img src="{{ race.logo }}">
<p>
  Admin: {{ race.admin }}
</p>
<p>
  Number of laps: {{ race.laps_number }}
</p>
<p>
  Distance of the race: {{ race.distance }}
</p>
<p>
  Date: {{ race.date_and_time_of_race.strftime("%d %B %Y %H:%M") }}
</p>
<p>
  Description:<br>{{ race.description }}
</p>
{% endif %}
{% endblock content %}
