{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
<form action="/clear">
<button type="submit"><strong>Clear</strong></button>
{% endif %}
</form>
  {% if races[0] %}
  <style type="text/css">
	th {
	color: blue;
	font-size: 13px;
	font-family:  "Trebuchet MS", Helvetica, sans-serif;
  border: 1px solid black;
  background-color: white;
	}
</style>
  <table align="center">
    <tr>
      <th style="background-color:#ececec; color: #333366;">Name</th>
      <th style="background-color:#ececec; color: #333366;">Date</th>
    </tr>
    {% for race in races %}
    <tr>

    </tr>
    <body>
      <table border="1" cellspacing="1" cellpadding="10" align="center">
        <tr>
          <td style="background-color:#ececec; color: black">{{ race.name }}</td>
          <td style="background-color:#ececec; color: black">{{ race.date_and_time_of_race }}</td>
        </tr>
        <tr>
          <!--</style>-->
        </table>
      </body>
    {% endfor %}
  </table>
  {% else %}
  	<h1>No races registered!</h1>
  {% endif %}
{% endblock content %}
