{% extends "base.html" %}

{% block content %}
<h1 align="center">Runner Registration</h1>
<form action="" method="post" novalidate align="center">
  {{ form.hidden_tag() }}
  <p>
    <br><strong>{{ form.first_name.label }}</strong><br>
    {{ form.first_name(size=25) }}<br>
    {% for error in form.first_name.errors %}
    <span class="span_reg">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    <br><strong>{{ form.last_name.label }}</strong><br>
    {{ form.last_name(size=25) }}<br>
    {% for error in form.last_name.errors %}
    <span class="span_reg">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    <br><strong>{{ form.id.label }}</strong><br>
    {{ form.id(size=25) }}<br>
    {% for error in form.id.errors %}
    <span class="span_reg">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    <br><strong>{{ form.submit() }}</strong><br>
  </p>
</form>
{% endblock %}
