{% extends "base.html" %}

{% block content %}
<form class="form-login" action="" method="post" novalidate align="center">
    {{ form.hidden_tag() }}
    <p>
      {{ form.name(size=25, placeholder="name") }}<br>
      {% for error in form.name.errors %}
      <span class="span_reg_check">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.operator(size=25, placeholder="operator") }}<br>
      {% for error in form.operator.errors %}
      <span class="span_reg_check">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      <br><strong>{{ form.submit(class="form-submit") }}</strong><br>
    </p>
</form>
{% endblock %}
