{% extends "base.html" %}

{% block content %}
<h1 align="center">Checkpoint Registration</h1>
<form action="" method="post" novalidate align="center">
    {{ form.hidden_tag() }}
    <p>
      <br><strong>{{ form.name.label }}</strong><br>
      {{ form.name(size=25) }}<br>
      {% for error in form.name.errors %}
      <span class="span_reg_check">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      <br><strong>{{ form.id.label }}</strong><br>
      {{ form.id(size=25) }}<br>
      {% for error in form.id.errors %}
      <span class="span_reg_check">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      <br><strong>{{ form.submit() }}</strong><br>
    </p>
</form>
{% endblock %}
