<!-- {% extends "base.html" %}

{% block content %}
<h1>Checkpoint Registration</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(size=30) }}
        {% for error in form.name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.id.label }}<br>
        {{ form.id(size=30) }}
        {% for error in form.id.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.submit() }}<br>
    </p>
</form>
{% endblock %} -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Checkpoint Registration</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
            <ul class="nav__menu">
                <li><a href="index.html">Main</a></li>
                <li><a href="table.html">Results</a></li>
                <li><a href="register_user.html">Register User</a></li>
                <li><a href="register_checkpoint.html">Register Checkpoint</a></li>
                <li><a href="index.html">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="reg-user">
            <h2 class="form__title">Checkpoint Registration</h2>
            <form class="form form_reg-user">
                <label for="reg-user__name" class="form__label">
                    <input type="text" id="reg-user__name" class="form__input">
                    <span>Name</span>
                </label>

                <label for="reg-user__id" class="form__label">
                    <input type="text" id="reg-user__id" class="form__input">
                    <span>Id</span>
                </label>

                <input type="submit" value="Register Checkpoint" class="form__btn">
            </form>
        </section>
    </main>
</body>
</html>