{% extends "base.html" %}

{% block content %}
<form class="form-login" action="" method="post" novalidate align="center">
  {{ form.hidden_tag() }}
  <p>
    {{ form.first_name(size=25, placeholder="first name") }}<br>
    {% for error in form.first_name.errors %}
    <span class="span_reg">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.last_name(size=25, placeholder="last name") }}<br>
    {% for error in form.last_name.errors %}
    <span class="span_reg">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.id(size=25, placeholder="id") }}<br>
    {% for error in form.id.errors %}
    <span class="span_reg">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.submit(class='form-submit') }}
  </p>
</form>
{% endblock %}
