{% extends "base.html" %}

{% block content %}
<form class="form-login" action="" method="post" enctype="multipart/form-data" novalidate align="center">
    {{ form.hidden_tag() }}
    <p>
      {{ form.name(size=25, placeholder="race name") }}<br>
      {% for error in form.name.errors %}
      <span class="span_reg">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.logo(size=25) }}<br>
      {% for error in form.logo.errors %}
      <span class="span_reg">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.admin.label(class="select-menu") }}
      {{ form.admin }}<br>
      {% for error in form.admin.errors %}
      <span class="span_reg">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.laps_number.label(class="select-menu") }}
      {{ form.laps_number(placeholder="choose number of laps") }}<br>
      {% for error in form.laps_number.errors %}
      <span class="span_reg">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.distance(size=10, placeholder="distance of race (km)") }}<br>
      {% for error in form.distance.errors %}
      <span class="span_reg">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.date_and_time_of_race(placeholder="date (DD.MM.YYYY HH:MM)") }}<br>
      {% for error in form.date_and_time_of_race.errors %}
      <span class="span_reg">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.description(maxlength=300, cols=48, rows=6, placeholder="description") }}<br>
      {% for error in form.description.errors %}
      <span class="span_reg">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      <br><strong>{{ form.submit(class="form-submit") }}</strong><br>
    </p>
</form>
{% endblock %}
