{% extends "base.html" %}

{% block content %}
<h1 align="center">Race Registration</h1>
<form action="" method="post" enctype="multipart/form-data" novalidate align="center">
    {{ form.hidden_tag() }}
    <p>
      <br><strong>{{ form.name.label }}</strong><br>
      {{ form.name(size=25) }}<br>
      {% for error in form.name.errors %}
      <span class="span_reg">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      <br><strong>{{ form.logo.label }}</strong><br>
      {{ form.logo(size=25) }}<br>
      {% for error in form.logo.errors %}
      <span class="span_reg">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      <br><strong>{{ form.admin.label }}</strong><br>
      {{ form.admin }}<br>
      {% for error in form.admin.errors %}
      <span class="span_reg">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      <br><strong>{{ form.laps_number.label }}</strong><br>
      {{ form.laps_number }}<br>
      {% for error in form.laps_number.errors %}
      <span class="span_reg">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      <br><strong>{{ form.distance.label }}</strong><br>
      {{ form.distance(size=10) }}<br>
      {% for error in form.distance.errors %}
      <span class="span_reg">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      <br><strong>{{ form.date_and_time_of_race.label }}</strong><br>
      {{ form.date_and_time_of_race }}<br>
      {% for error in form.date_and_time_of_race.errors %}
      <span class="span_reg">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      <br><strong>{{ form.description.label }}</strong><br>
      {{ form.description(maxlength=300, cols=50, rows=6) }}<br>
      {% for error in form.description.errors %}
      <span class="span_reg">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      <br><strong>{{ form.submit() }}</strong><br>
    </p>
</form>
{% endblock %}
