{% extends "base.html" %}

{% block content %}
<h1 align="center">All Events</h1>
{% if current_user.is_authenticated %}
<form action="{{ url_for('clear') }}">
  <button type="submit"><strong>Clear</strong></button>
</form>
{% if current_user.is_authenticated %}
<button onclick="move('up');">&ShortUpArrow;</button>
<button onclick="move('down');">&ShortDownArrow;</button>
<button onclick="move_end('up');">&ShortUpArrow;</button>
<button onclick="move_end('down');">&ShortDownArrow;</button>
{% endif %}
{% if events[0] %}
<style type="text/css">
	.selected{
  	background-color:#c0ecec;
  	color #fff;
  	font-weight: bold
	}
</style>
<table id="table" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Checkpoint Id</th>
      <th>Tag of Player</th>
      <th>Time</th>
    </tr>
    </thead>
    {% for event in events %}
    <tbody>
    <tr>
      <td>{{ event.checkpoint_id }}</td>
      <td>{{ event.tag }}</td>
      <td>{{ event.time }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>


<script>

		var index;
		function getSelectedRow()
		{
				var table = document.getElementById("table");
				for(var i = 1; i < table.rows.length; i++)
				{
						table.rows[i].onclick = function()
						{
								if(typeof index !== "undefined"){
										table.rows[index].classList.toggle("selected");
								}
								index = this.rowIndex;
								this.classList.toggle("selected");
						};
				}
		}
		getSelectedRow();

		function move(direction)
		{
				var rows = document.getElementById("table").rows,
						parent = rows[index].parentNode;
					if(direction === "up")
					{
							if(index > 1){
								parent.insertBefore(rows[index],rows[index - 1]);
								index--;
						}
					}
					if(direction === "down")
					{
							if(index < rows.length-1){
								parent.insertBefore(rows[index + 1],rows[index]);
								index++;
						}
					}
		}

		function move_end(direction)
		{
				var rows = document.getElementById("table").rows,
						parent = rows[index].parentNode;
					if(direction === "up")
					{
							while(index > 1){
								parent.insertBefore(rows[index],rows[index - 1]);
								index--;
						}
					}
					if(direction === "down")
					{
							while(index < rows.length-1){
								parent.insertBefore(rows[index + 1],rows[index]);
								index++;
						}
					}
		}
</script>
{% endif %}
{% else %}
	<h1>No events registered!</h1>
{% endif %}
{% endblock content %}
