{% extends "base.html" %}

{% block content %}
<form action="/clear">
<button type="submit"><strong>Clear</strong></button>
</form>
{% if events[0] %}
<style type="text/css">
	th {
  	color: blue;
  	font-size: 13px;
  	font-family:  "Trebuchet MS", Helvetica, sans-serif;
    border: 1px solid black;
    background-color: white;
	}
  .selected{background-color:green; color #fff; font-weight: bold}
</style>
  <table id="table" align="center">
    <tr>
      <th style="background-color:#ececec; color: #333366;">Checkpoint Id</th>
      <th style="background-color:#ececec; color: #333366;">Tag of Player</th>
      <th style="background-color:#ececec; color: #333366;">Time</th>
    </tr>
    {% for event in events %}
    <tr>

    </tr>
    <body>
      <table border="1" cellspacing="1" cellpadding="10" align="center">
        <tr>
          <td style="background-color:#ececec; color: black">{{ event.checkpoint_id }}</td>
          <td style="background-color:#ececec; color: black">{{ event.tag }}</td>
          <td style="background-color:#ececec; color: black">{{ event.time }}</td>
        </tr>
          <!--</style>-->
        </table>
      </body>
    {% endfor %}
  </table>


  <button onclick="upNdown('up');">&ShortUpArrow;</button>
  <button onclick="upNdown('down');">&ShortDownArrow;</button>

  <script>

      var index;
      function getSelectedRow()
      {
          var table = document.getElementById("table");
          for(var i = 1; i < table.rows.length; i++)
          {
              table.rows[i].onclick = function()
              {
                  if(typeof index !== "undefined"){
                      table.rows[index].classList.toggle("selected");
                  }
                  index = this.rowIndex;
                  this.classList.toggle("selected");
              };
          }
      }
      getSelectedRow();

			function upNdown(direction)
      {
          var rows = document.getElementById("table").rows,
              parent = rows[index].parentNode;
            if(direction === "up")
            {
                if(index > 1){
                  parent.insertBefore(rows[index],rows[index - 1]);
                  index--;
              }
           	}
            if(direction === "down")
            {
                if(index < rows.length -1){
                  parent.insertBefore(rows[index + 1],rows[index]);
                  index++;
              }
            }
      }
  </script>
  {% else %}
  	<h1>No events registered!</h1>
  {% endif %}
{% endblock content %}
